# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Output
dist

# Rust target directory
target/

# Coverage
coverage
*.lcov

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test
