name: Continuous Delivery

on: push

jobs:
  verify:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['20', '22']
    name: verify using node v${{ matrix.node }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: wasm
      - uses: jetli/wasm-pack-action@v0.4.0
        with:
          version: 'latest'
      - run: npm ci --ignore-scripts
      - run: cargo fmt --manifest-path wasm/Cargo.toml --check
      - run: cargo clippy --manifest-path wasm/Cargo.toml --target wasm32-unknown-unknown
      - run: npm run verify
      - uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: coverage (node v${{ matrix.node }})
          path: coverage/

  publish-npm:
    needs: verify
    runs-on: ubuntu-latest
    name: publish package if needed
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - run: npm ci
      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
